$primary-color : #ffc870;
$text-color: #1a2b5f;
$text-gray : #c6cad7;


*,
*:before,
*::after  {
   
    box-sizing: border-box;;
}


html{
    font-size: 62.5%;  // 1rem = 10px
}

body{
    font-family: "Poppins" sans-serif;
    color: $text-color;
    font-weight: 400;
    
}

img{
    display: block;
    max-width: 100%;
}
a{
    text-decoration: none;
}

@mixin flex($algin:flex-start, $justify:flex-start,$wrap:nowrap, $dir:row){
    display: flex;
    align-items: $algin;
    justify-content: $justify;
    flex-wrap: $wrap;
    flex-direction: $dir;
}

// @mixin size ($width ,$height : $width){
//     width: $width;
//     height: $height;
// }


// 1440px ,1170px
.wrapper{
    max-width: 1440px;
    margin: 0 auto;
}

.container{
    max-width: 1210px;
    margin: 0 auto;
    padding-left: 2rem;  /* set cho nó để lúc responsive sẽ canh giữa */
    padding-right: 2rem;   
    
}

.header{
    padding-top: 4rem;
    &__inner{
        @include flex(center,space-between);
    }
    &__menu{
        &-list{
            @include flex(center)
        }
        &-item{
            margin-left: 50px;
            &:last-child{
                margin-left: 70px;
            }
        }
        &-link  {
            font-size: 25px;
            color: $text-color;
            transition: color .25s linear ,border .25s linear;
            &:hover{
                color:#ffc870;

            }

        }
        &-icon{
            font-size:1.3rem;
           
        }
       
    }
    &__login{
        padding: 10px 30px;
        display: inline-block;
        border: 1px solid;
        border-radius:2.5rem;
        
    }
}

.logo{
    font-size: 3rem;
    font-weight: 600;
   color: $text-color;
    &__text{
        color: $primary-color;
    }
}

.banner{
    padding-top: 150px;
    padding-bottom: 150px;
    // max-width: 80%;
    margin: 0 auto;
    text-align: center;
    &__heading{
        font-weight: 700;
        font-size: 60px;
        margin-bottom: 30px;
    }
    &__desc{
        font-size: 1.7rem;
        font-weight: 300;
        margin-bottom: 4rem;
    }
    &__buttons{
        display: flex;           // 3 hàng này để set height bằng nhau
        justify-content: center;
        align-items: stretch;
       
        .btn{
            margin: 0 1rem;
            &:hover{
                transition: color .25s linear ,border .25s linear;
                color:#ffc870;  
                &:last-child:hover{
                   
                    color:$text-color;
                }
            }
            
            
        }
    }
}

.btn{
    cursor: pointer;
    outline: none;
    font-size: 1.6rem;
    text-align: center;
    color: $text-color;
    padding: 15px 30px;
    display: inline-block;
    border: 0;
    background-color: transparent; // trong suot

    &--border{
        border: 1px solid;
    }
    &--rounded{
        border-radius: 5rem;
    }

    &--primary{
        background-color: $primary-color;
       
        &.has-shadow{
            box-shadow: 0 10px 30px -5px $primary-color;
        }
    }
   
}

.category{
    &__list{
        @include flex(stretch, space-between,wrap );
    }

    &__item{
        width: calc(25% - 22.5px) ;
        padding: 25px;
        background-color: #f9f9f9;
        border-radius: 20px;
        @include flex(stretch,flex-start, nowrap , column);
        &:first-child{
            box-shadow:0 20px 30px -5px rgba(255,151,195,0.25);
        }
        &:nth-child(2){
            box-shadow:0 20px 30px -5px rgba(213,59,40,0.25);
        }
        &:nth-last-child(2){
            box-shadow:0 20px 30px -5px rgba(253,218,52,0.25);
        }
        &:last-child{
            box-shadow:0 20px 30px -5px rgba(11,19,80,0.25);
        }

    }
    &__image{
        border-radius: inherit; //ke thua item
        // @include size (230rem,100%);
        width: 100%;
        height: 230px;
        object-fit: cover;
        margin-bottom: 2rem;
    }

    &__name,
    &__detail{
        white-space: nowrap; // tren 1 dong
        overflow: hidden;  //dau chữ đi 
        text-overflow: ellipsis; // còn dấu ... Khi thực hiện heading còn 1 dòng
    }
    &__name{
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }
    &__detail{
        font-size: 1.5rem;
        color: $text-gray;
        margin-top: auto;
        i{
            margin-left: 1.5rem;
        }
    }
    
}

.feature{
    padding-top: 18rem ;

    &__item{
        @include flex(center);
        margin-bottom: 150px;
        &:nth-child(odd){
            .feature__info{
                padding-left: 9rem;
            }
        }
        &:nth-child(even){
            flex-direction: row-reverse;
            .feature__info{
                padding-right: 9rem;
            }
        }
        
    }
    &__image,
    &__info{
        width: 50%;   
    }
    // &__info{
    //     padding-left:100px;
       
    // }
    &__title{
        font-size: 3.5rem;
        font-weight: 600;
        margin-bottom: 25px;
    }
    &__desc{
        font-size: 1.2rem;
        font-weight: 300;
        color: $text-gray;
        margin-bottom: 30px;
        line-height: 1.5;
    }
    &-intro{
        &__item{
            font-size: 1.3rem;
            font-weight: 600;
            margin-bottom: 30px;
            text-decoration: underline;
            
            &--circle{
                text-decoration: none;
                position: relative;
                padding-left: 3rem;
                &:nth-child(2)::before{
                    background-color: orange;   
                }
                &:nth-last-child(2)::before{
                    background-color: orchid;
                }
                &:last-child:before{
                    background-color: green;
                }
                &:before{
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 2rem;
                    height: 2rem;
                    background-color: aqua;
                    border-radius: 4rem;
                    transform: translateY(-50%);
                }
            }
        }
    }
    &--best{
        &__icon{
           width: 3rem;
           height: 3rem;
           border-radius: 10px;
           font-size: 1.5rem;
            @include flex(center,center);  
            margin-bottom: 1rem;
            color: orange;
            position: relative;
            z-index: 1;
            &--purpose{
                color: orchid; 
            }
            &--red{
                color: red;
            }
            &--green{
                color: green;
            }
            &:after{   // dùng after thay cho before vì fontawesome mặc định đã before nên phải dùng after
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: inherit;
                background-color: currentColor;
                opacity: 0.25;
                top: 0;
                left: 0;
                z-index: -1;
            }
           
         }
         &__title{
             margin-bottom: 1rem;
             font-size: 1.5rem;
             font-weight: 600;
            
         }
         &__desc{
             font-size: 1.3rem;
             font-weight: 300;
         }

         &__list{
             display: flex;
             align-items: flex-start;
             justify-content: space-between;
             flex-wrap: wrap;
             margin-bottom: -3rem;
         }
         &__item{
             width: calc(50% - 30px);
             margin-bottom: 40px;
         }
    }
}

.partner{
    margin-bottom: 15rem;
    &__list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
    }
    &__container{
        max-width: 830px;
        text-align: center;
    }
    &__title{
        font-size: 1.7rem;
        font-weight: bold;
        margin-bottom: 70px;
        padding-bottom: 6rem;
        border-bottom: 3px solid;
        font-family: "Poppins";
    }
    &__item{
        @include flex(center, space-between);

    }
}

.connect{
    text-align: center;
    margin-bottom: 17rem;
    // max-width: 80%;
    // margin-left: 150px;     
    &__title{
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 30px;
        font-family: "Poppins";
    }
    &__notice{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 60px;
        span{
            color: $primary-color;
        }
    }
    &__list{
        @include flex(stretch, space-between);   
    }
    &__item{
        width: calc(25% - 22.5px);
        
    }
}

.subscribe{
    margin-bottom: 5rem;
   
    &__container{
        @include flex(flex-start, space-between);
        border-bottom: 4px solid ;
        padding-bottom: 8rem;
        cursor: pointer;
    }
    &__title,
    &__info{
        width: 50%;
    }
    &__title{
        
        font-size: 2rem;
        font-weight: bold;
        max-width: 43rem;
        font-family: "Poppins";
    }
    &__form{
        padding: 2rem;
        background-color: #f2f1f6;
        @include flex(center,space-between);
        margin-bottom:3.5rem;
    }

    &__input,
    &__button{
        padding: 0;
    }

    &__input{
        border: 0;
        outline: none;
        background-color: transparent;
        font-size: 1.2rem;
        font-family: "Poppins";
        flex-grow: 1;
        padding-right: 1.5rem;
    }
    &__button{
        background-color: transparent;
        border: 0;
        outline: none;
        cursor: pointer;
        font-size: 1.2rem;
        font-family: "Poppins";
    }
    &__social i{
      margin-left:2rem;
      font-size: 2rem;
    }
}

.footer{
    &__container{
        @include flex(flex-start, space-between)
    }
    &__item{
        width: 25%;
    }
    &__link {
        font-size: 1.4rem;
        font-weight: 600;
        color: currentColor;
        display: block;
        margin-bottom: 3rem;
        width: fit-content; // nội dung bao nhieu thì nội dung tới đó thôi
    }
}

.text-clamp{ // gom chữ lại 
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    &--2{
        -webkit-line-clamp: 2;
    }
}

@media screen and (max-width:1023px) {
    .banner{
        padding-top:5rem ;
        padding-bottom: 5rem;
       
        &__heading{
            font-size: 3.5rem;
            margin-bottom: 2rem;
        }
        &__desc{
            font-size: 1.8rem;
        }
        &__buttons > .btn{
            font-size: 1.4rem;
        }
    }

    .category{
        &__item{
            width: calc(50% - 22.5px);
            margin-bottom: 2.5rem;
        }
    }

    .feature{
        padding-top: 10rem;
        &__title{
            font-size: 2.5rem;
        }
        &__item{
            flex-direction: column;
            margin-bottom: 8rem;
            &:nth-child(even){ // even là chẵn
                flex-direction: column;
               
                .feature__info{
                    padding: 0;
                }
            }
            &:nth-child(odd) .feature__info{ // odd là lẻ
                padding: 0;
            }
        }
        
        &__image,
        &__info{
            width: 100%;
        }
        &__image img{
            margin: 0 auto 5rem;
        }
    }
    .partner{
        &__title{
             margin-bottom: 4rem;
             padding-bottom: 4rem;
        }
       
    }
    
}

@media screen and (max-width: 767px){
    .header__menu{
        display: none;
    }

    .category{
        &__item{
            width: 100%;
            margin-bottom :2.5rem;
        }
        &__image{
            height: 150px;
        }
    }

    .partner{
        
       margin-bottom: 10rem;
        &__list{
            flex-wrap: wrap;
            justify-content: center;
        }
        &__item{
            width: 50%;
            margin-bottom: 1rem;
            img{
                margin: 0 auto;
            }
        }
    }

    .connect{
        
        margin-bottom: 5rem;
        &__list{
            flex-wrap: wrap;
        }
        &__item{
            width: calc(50% - 1rem);
            margin-bottom: 2rem;
        }
    }

    .subscribe{
        &__container{
            flex-direction: column;
        }
        &__title{
           
            width: 100%;
            margin-bottom: 2rem;
        }
        &__info{
            width: 100%;
        }
        &__button{
            flex-wrap:wrap;
        }
        
    }

    .footer{
        &__container{
            flex-wrap: wrap;
        }
        &__item{
            width: 100%;
            margin-bottom: 2rem;
        }
    }
}

@media screen and (max-width: 479px) {
    .banner{
        &__heading{
            font-size: 3rem;
        }
        &__buttons > .btn{
            font-size: 1.2rem;
        }
    }

    
}






